<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.packtpub.validation"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <application>
        <activity android:name=".MainActivity" android:label="Validation Examples">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ListItemSelectionActivity" android:label="View Contact">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="content" path="/contacts"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ListItemSelectionActivity" />
    </application>
</manifest> 
